$gray-border: 1px solid #ddd;


main > .new-tweet {
  border: $gray-border;
  border-radius:10px;
  padding:0 1em 1em 1em;
  margin:0 2em 0 2em;
  background-color:#eee;
}

.new-tweet h2 {
  border-bottom:1px solid black;
}

textarea {
  width:100%;
}

form > .counter {
  float:right;
}

article {
  border: $gray-border;
  border-radius:10px;
  margin:1em 2em 1em 2em;
  overflow:hidden;
  word-wrap:break-word;
}

article:hover {
  border:2px solid #ddd;
}

h2 {
  margin:0;
}

.tweets-container header {
  background-color:#eee;
  padding:1em 1em 1em 1em;
  height:6em;
}

.tweets-container header img {
  display:inline;
  float:left;
  margin-right:1em;
  width:70px;
  border-radius:10px;
  margin-top:-4px;
}

.tweets-container header p {
  display:inline-block;
  float:right;
}

.tweets-container section.user-tweet {
  padding:1em;
}

.indv-footer-icon {
  text-decoration:none;
  color:rgba(0,0,0,0.4);
  padding:0.2em;
}

.indv-footer-icon:hover {
  color:rgba(0,0,0,1);
  cursor:pointer;
}


.tweets-container footer {
  border-top:$gray-border;
  padding:0 1em 0 1em;
}

.tweets-container footer div.footer-icons {
  float:right;
  margin-top:-40px;
}
